/* CSS - Cascading Style Sheets */
@font-face {
    font-family: 'Veteran Typewriter';
    src: url('VeteranTypewriter.woff2') format('woff2'),
    url('VeteranTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    min-height: 100%;
}

body {
    background: #000000;
    color: darkgray;
    font-size: 16pt;
    margin: 0;
    padding: 20px;
    font-family: 'Veteran Typewriter', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image, .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.logo {
    width: 50% !important;
    padding-bottom: 50px;
}

.accordion {
    background-color: #000000;
    color: darkgray;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Veteran Typewriter', serif;
    font-size: 16pt;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #263d0e ;
}

.panel {
    padding: 10px;
    display: none;
    background-color: #000000;
    overflow: hidden;
}
.content {
    max-width: 1500px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.text {
    margin-right: 40px;
}

.socialmedia {
    list-style: none;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialmedia li {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: darkgray;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .content .quote {
        min-width: 0;
    }

    .text {
        margin: 0;
    }
}